.x-pdf-utils-style-operationTable {
  border-collapse: collapse;
  border:none;
  overflow: scroll
}

.x-pdf-utils-style-operationTable th {
    padding: 0.5rem
}

.x-pdf-utils-style-operationTable td:nth-child(3),
.x-pdf-utils-style-operationTable td:nth-child(4),
.x-pdf-utils-style-operationTable td:nth-child(5),
.x-pdf-utils-style-operationTable th:nth-child(3),
.x-pdf-utils-style-operationTable th:nth-child(4),
.x-pdf-utils-style-operationTable th:nth-child(5)  {
    text-align: center;
    padding-left: 1rem;
    background-color: $secondary-backgroundColor;
}

