
.x-pdf-utils-style-operationTable {
  border-collapse: collapse;
  border:none;
  overflow: scroll
}

.x-pdf-utils-style-operationTable th {
  padding: 0.5rem
}

.x-pdf-utils-style-operationTable td:nth-child(3),
.x-pdf-utils-style-operationTable td:nth-child(4),
.x-pdf-utils-style-operationTable td:nth-child(5),
.x-pdf-utils-style-operationTable th:nth-child(3),
.x-pdf-utils-style-operationTable th:nth-child(4),
.x-pdf-utils-style-operationTable th:nth-child(5)  {
  text-align: center;
  padding-left: 1rem;
  background-color: $secondary-backgroundColor;
}

.x-pdf-utils-style-tabContainer {
  background-color: $tab-pane-backgroundColor;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.x-pdf-utils-style-tabTitles {
  margin: 0 0 10px;
  padding: 0;
  background-color: $tab-titles-backgroundColor;
  border-bottom: 0.2rem $tab-titles-borderColor solid;
}

.x-pdf-utils-style-tabTitle {
  display: inline-block;
  background-color: $tab-title-backgroundColor;
  border-right: 1px $tab-title-borderColor solid;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
}

.x-pdf-utils-style-tabTitle.x-pdf-utils-style-active {
  background: $tab-title-active-backgroundColor;
  color: $tab-title-active-color;
}

.x-pdf-utils-style-tabTitle:hover {
  background: $tab-title-hover-backgroundColor;
  color: $tab-title-hover-color;
}

.x-pdf-utils-style-tabPanel {
  display: none;
}

.x-pdf-utils-style-tabPanel.x-pdf-utils-style-active {
  display: block;
}

